				/* Nav, Heading And Body Start*/

a {color:#2f89b3;
}
body {
    background-color:#225763;
}
h1 {
    color: #41d8bf;
    margin-left: 100px;
    text-shadow: 1px . 5px 4px rgba(0, 0, 0, 0.6);
}	
				/* Nav, Heading And Body End*/
				
				/*Gallery Contaniers Start*/
.contanier {
    width: 1400px;
    height: 300px;px;
    background-color: #3b50b2;
    border: 2px; solid black;
    border-radius: 5%;
}
.contanier .gods:nth-child(-n+10) {
    background-image: url("../images/symble.png");
    background-position: center;
    color: #fff;
    float: left;
    width: 130px;
    height: 300px;
    margin: 5px;
    border: 1px; solid black ;
    border-radius: 25%;
    cursor: pointer;
}