.index-img {
    background: url(../img/img.jpg) 50% 50%;
    backgroung-attachment:fixed;

    /* the next 3 codes are the old web codes for old browser all do 
    the same thing as background-size tag*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
    width: 100%;
    display: block;
    height: auto;
    padding-top: 350px; /*This is spacer before the Main title Logo*/
    padding-bottom: 500px; /*This is spacer after the Main title Logo*/
    color: #fff; 
}
.head-sub-main {
    font-size: 23px;
    font-weight: 500;
    padding: 50px 20px 10px 20px;
    text-transform: uppercase;
}

#footer {
    background-color: red;
    color: #fff;
    text-shadow: 2px 2px 8px 0 rgba(0, 0, 0, 1);
    padding: 20px 50px 20px 50px;
    text-align: left;
    display: block;
}

.navbar-nav .nav-item .nav-link {
    color: yellow;
}
.navbar-nav .nav-item.active .nav-link,
.nav-item:hover {
    color: yellow;
}
/*-------------------------------
            NOT ACTIVATE
-------------------------------*/
.menu {
    color: #f00;
    font: bold 12px/18px sans-serif;
    text-align: center;
    display: inline;
    margin: 0% auto;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
.menu li {
    color: #000;
    background-color: rgba(255, 255, 255, 1;
    display: inline-block;
    margin: 0% auto;
    position: relative;
    padding: 15px 4%;
    border: 1px solid #9d9fa2;
    box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.5);
    border-radius: 6px;
    /*background-color: #052136;*/
    cursor: pointer;
    transition-property: background;
    transition-duration: .4s;
    transition-delay: 0s;
    -moz-transition-timing-function: case-in-out;
}
.menu li:hover {
    color: #f00;
    background-color: rgba(100, 65, 0, 0.3);