/*---------------------------------------------------------------
                        GENERIC STYLE
---------------------------------------------------------------*/
html {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 60%;
    -webkit-text-size-adjust: 100%;
}
body {
    font-size: 18px;
    margin: 0;
    color: black;
    background-color: #fff;

}
footer {
    display: block;
    color: yellow;
    background: brown;
}
nav {
    color: blue;
}
/*---------------------------------------------------------------
                        HOME SECTION STYLE
---------------------------------------------------------------*/
#home {
    background: url(../images/planets.webp) no-repeat 50% 50%;
    backgroung-attachment:fixed;
    width: 100%;
    display: block;
    height: auto;
    padding-top: 350px; /*This is spacer before the Main title Logo*/
    padding-bottom: 500px; /*This is spacer after the Main title Logo*/
    color: #fff; 
}
.head-main {
    text-shadow: 2px 4px 5px rgba(0, 0, 0, 0.9);
    font-variant: small-caps;
    color: red;
    letter-spacing: 5pt;
    word-spacing: 21pt;
    font-size: 4.5em;
    text-align: center;
    font-family: Impact, Haettenschweiler, sans-serif;
    line-height: 2;
    font-weight: 900;
    border: 5px double green;
    padding: 10px;
}
